@charset "UTF-8";
:root {
  --brend-color: #2196F3;
  --white-color: #ffffff;
  --text-title-color: #212121;
  --text-main-color: #757575;
  --background-main-color: #F5F5F5;
  --background-secondary-color: #F5F4FA;
  --background-footer-color: #2F303A;
  --footer-text-color: #FFFFFF;
  --social-icon-color: #AFB1B8;
  --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  color: var(--text-main-color);
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  color: var(--text-title-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.subscrbe__submit, .subscribe__input, .footer-social__link, .portfolio__desc, .portfolio__element, .filter__button, .nav-contacts__link, .nav-site__link {
  transition-duration: 250ms;
  transition-timing-function: var(--function-animation);
}

.footer__container, .portfolio, .header__container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.address__list, .portfolio__list, .filter, .nav-contacts, .nav-site__list, .footer-social {
  list-style: none;
}

.address__contact, .address__maps, .portfolio__element, .nav-contacts__link, .nav-site__link, .logo, .footer-social__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.nav-contacts__link, .nav-site__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-title-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition-property: color;
}

.footer__address {
  font-style: normal;
}

/* Список иконок соц. сетей */
.footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
}

.portfolio__tumb {
  position: relative;
  overflow: hidden;
}

/* logo */
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
}
.logo span {
  color: var(--brend-color);
}

/* -header- */
.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
}

/* Навигация сайта*/
.header {
  background-color: #FFFFFF;
  line-height: 1.14;
}

.nav-site {
  display: flex;
  align-items: center;
}
.nav-site__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.nav-site__items + .nav-site__items {
  margin-left: 50px;
}
.nav-site__link:hover, .nav-site__link:focus {
  color: var(--brend-color);
}

.nav-site__link--active {
  color: var(--brend-color);
  position: relative;
}
.nav-site__link--active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brend-color);
}

/* Контакты */
.nav-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-contacts__items + .nav-contacts__items {
  margin-left: 30px;
}
.nav-contacts__link {
  color: var(--text-main-color);
}
.nav-contacts__icon {
  vertical-align: text-bottom;
  margin-right: 10px;
  fill: currentColor;
}

.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: var(--brend-color);
}

/* фильтр портфолио */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__items + .filter__items {
  margin-left: 8px;
}

.filter__button {
  min-width: 73px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: none;
  border-radius: 4px;
  color: var(--text-title-color);
  background-color: var(--background-secondary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
}
.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--brend-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* список примера работ */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio__items {
  width: 370px;
  margin: 15px;
  outline: 1px solid #EEEEEE;
}
.portfolio__about {
  padding: 20px 24px;
}
.portfolio__titel {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio__element:hover,
.portfolio__element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__element {
  transition-property: box-shadow;
}
.portfolio__element:hover, .portfolio__element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__desc {
  position: absolute;
  transform: translateY(0);
  padding-top: 63px;
  padding-left: 24px;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 149, 243, 0.9333333333);
  transition-property: transform;
}
.portfolio__desc-text {
  width: 322px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.portfolio__element:hover .portfolio__desc, .portfolio__element:focus .portfolio__desc {
  transform: translateY(-100%);
}

/* -footer- */
.footer {
  color: var(--footer-text-color);
  background-color: var(--background-footer-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  margin-top: 20px;
}
.footer__item + .footer__item {
  margin-left: 70px;
}
.footer__item:nth-child(2) {
  width: 206px;
}
.footer__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social__icon {
  fill: var(--white-color);
}

.footer-social__link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: fill, background-color;
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--brend-color);
}

.address__items + .address__items {
  margin-top: 9px;
}
.address__list {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__contact {
  color: rgba(255, 255, 255, 0.6);
}

.logo--dark {
  color: var(--footer-text-color);
}

/* Подписаться на рассылку footer */
.subscribe {
  margin-left: 93px;
}
.subscribe__container {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: outline, border-color;
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:focus {
  outline: var(--brend-color);
  border-color: var(--brend-color);
}

.subscrbe__submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--brend-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition-property: box-shadow;
}
.subscrbe__submit:hover, .subscrbe__submit:focus {
  box-shadow: none;
}/*# sourceMappingURL=portfolio.css.map */