/* Постоянные клиенты */
.clients {

    @extend %section;
    @extend %container;

    &__title {
        @extend %title;
        margin-bottom: 30px;

        @media screen and (min-width: desctop) {
            margin-bottom: 30px;
        }
    }

    &__list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

        // justify-content: space-between;
    }

    &__items {

        margin: 15px;

        @media screen and (max-width: $preTablet) {
            width: calc((100% - 30px * 2)/2);
        }

        @media screen and (min-width: $tablet) {
            width: calc((100% - 30px * 3)/3);
        }

        @media screen and (min-width: $desctop) {
            width: calc((100% - 30px * 6)/6);
        }
    }

    &__link {
        @extend %link;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 92px;

        border: 1px solid var(--social-icon-color);
        border-radius: 4px;

        @extend %transition-main;
        transition-property: border-color;
    }

    &__icon {
        display: block;
        width: 106px;
        height: 60px;

        fill: var(--social-icon-color);

        @extend %transition-main;
        transition-property: fill;
    }
}

.clients__link {

    &:hover,
    &:focus {

        border-color: var(--brend-color);
    }
}

.clients__icon {

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--brend-color);
    }
}