/* Достоинства */

.dignity {

    @extend %section;
    @extend %container;

    &__list {
        @extend %list;

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
    }

    &__items {

        @media screen and (min-width: $tablet) {
            width: calc((100% - (30px*2))/2);
            margin: 15px;
        }

        @media screen and (min-width: $desctop) {
            width: calc((100% - (30px*4))/4);
        }

    }

    &__items+&__items {

        @media screen and (max-width: $preTablet) {
            margin-top: 30px;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 120px;

        border-radius: 4px;
        margin-bottom: 30px;

        background-color: var(--background-secondary-color);

    }

    &__subtitle {
        margin-bottom: 10px;

        color: var(--text-title-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

    }
}