/* logo */
.logo {
    @extend %link;
    color: #000000;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;

    & span {
        color: var(--brend-color);
    }
}