:root {
    --brend-color: #2196F3;
    --white-color: #ffffff;
    --text-title-color: #212121;
    --text-main-color: #757575;
    --background-main-color: #F5F5F5;
    --background-secondary-color: #F5F4FA;
    --background-footer-color: #2F303A;
    --footer-text-color: #FFFFFF;
    --social-icon-color: #AFB1B8;
    --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
}